<h1>Authors Index</h1>
<h3>
    <%= link_to 'Add Author', new_author_path %>
</h3>
<table>
    <% @authors.each do |author | %>
        <tr>
            <td> <%= author.first_name %> </td>
            <td> <%= author.last_name %> </td>
            <td> <%= author.location %> </td>
            <td> <%= author.nickname %> </td>
            <td> <%= author.hometown %> </td>
            <td> <%= author.age %> </td>
            <td> <%= link_to "View", author_path(author) %>
        </tr>
    <% end %>
</table>