<h1> Add Author </h1>
<%= form_for @author, url: {action: "create"} do |f| %>
    <%= f.label :first_name%>
    <%= f.text_field :first_name %>

    <%= f.label :last_name%>
    <%= f.text_field :last_name %>

    <%= f.label :location%>
    <%= f.text_field :location %>

    <%= f.label :hometown%>
    <%= f.text_field :hometown %>
    
    <%= f.submit "Save" %>
<% end %>