<p><%= link_to "Back", authors_path %></p>

<h1>
    <%= @author.first_name %> <%= @author.last_name %>
</h1>

<h2>
    <%= @author.location %>
</h2>

<h2>
    <%= @author.nickname %>
</h2>

<h2>
    <%= @author.hometown %>
</h2>

<h2>
    <%= @author.age %>
</h2>

<p> <%= link_to 'Edit', edit_author_path(@author) %> </p>
<p> <%= link_to 'Delete', author_path(@author), method: :delete, data: {confirm: "Are you sure?"} %> </p>
